<div class="item <%= "active" if index == 0 if index.present? && !params[:page] %>">
  <div id="profile" class="row">
    <div class="span8">
      <%= detail.dsp_modal_x_employee(modal) %>
      <%= detail.avatar %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <dl class="well dl-horizontal">
        <dt>メールアドレス：</dt>
        <dd>
        <%= detail.dsp_email %>
        <%= detail.dsp_icon_email %>
        </dd>
        <dt>所属部署：</dt>
        <dd><%= detail.dsp_unit %></dd>
        <dt>役職：</dt>
        <dd><%= detail.dsp_role %></dd>
        <dt>内線：</dt>
        <dd><%= detail.dsp_tel1 %></dd>
        <dt>外線：</dt>
        <dd><%= detail.dsp_tel2 %></dd>
        <dt>その他連絡先：</dt>
        <dd><%= detail.dsp_tel3 %></dd>
        <dt>勤務地：</dt>
        <dd><%= detail.dsp_place  %></dd>
        <dt>自己紹介：</dt>
        <dd><%= detail.dsp_introduction %></dd>
        <dt>目標：</dt>
        <dd><%= detail.dsp_target %></dd>
      </dl>
    </div>
  </div>
</div>
