<div class="item <%= "active" if index == 0 if index.present? && !params[:page] %>">
  <div id="profile" class="row">
    <div class="span8">
      <%= link_to 'x', '#', :class => 'close', "data-dismiss" => "modal" if modal %>
      <%= image_tag detail.pic_name, :class => 'avatar' %>
      <h1><%= detail.user_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <dl class="well dl-horizontal">
        <dt>メールアドレス：</dt>
        <dd>
        <%= detail.email.present? ? detail.email : "未登録" %>
        <%= link_to "<i class='icon-envelope icon-white'></i>".html_safe, "mailto:#{detail.email}", class: "btn btn-success btn-mini"  %>
        </dd>
        <dt>所属部署：</dt>
        <dd><%= detail.unit.present? ? detail.unit : "未登録" %></dd>
        <dt>役職：</dt>
        <dd><%= detail.role.present? ? detail.role : "未登録" %></dd>
        <dt>内線：</dt>
        <dd><%= detail.tel1.present? ? detail.tel1 : "未登録" %></dd>
        <dt>外線：</dt>
        <dd><%= detail.tel2.present? ? detail.tel2 : "未登録" %></dd>
        <dt>その他連絡先：</dt>
        <dd><%= detail.tel3.present? ? detail.tel3 : "未登録" %></dd>
        <dt>勤務地：</dt>
        <dd><%= detail.place.present? ? detail.place : "未登録"  %></dd>
        <dt>自己紹介：</dt>
        <dd><%= detail.introduction.present? ? detail.introduction : "未登録" %></dd>
        <dt>目標：</dt>
        <dd><%= detail.target.present? ? detail.target : "未登録" %></dd>
      </dl>
    </div>
  </div>
</div>
