<div class="row">
  <div class="page-header">
    <h1>
      社員検索
      <small>chrome または firefox 推奨 <strong>internet explorer</strong>は動作未確認</small>
    </h1>
  </div>
</div>
<div id="search_result" class="row">
  <div class="span8">
    <%= not_found_alert if @employees.length == 0 %>
    <%= init_info_alert if (!params[:unit].present? && !params[:search].present?) %>
    <div id="employees" class="row" <%= "style='display:none'" if (!params[:unit].present? && !params[:search].present?) %>>
      <% if @employees.length > 0 %>
        <ul class="nav nav-tabs">
          <li id="tab-normal" class="active">
            <%= link_to '通常表示', '#dsp-normal', "data-toggle" =>'tab' %>
          </li>
          <li id="tab-detail">
            <%= link_to '詳細表示', '#dsp-detail', "data-toggle" =>'tab' %>
          </li>
        </ul>
        <div class="tab-content">
          <div id="dsp-normal" class="tab-pane active">
            <%= render :partial => 'employee', :collection => @employees %>
            <%= paginate @employees %>
          </div>
          <div id="dsp-detail" class="tab-pane">
            <div id="myCarousel" class="carousel">
              <div class="carousel-inner">
                <%= render :partial => 'detail_collection', :collection => @employees %>
              </div>
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <fieldset>
        <legend>組織一覧</legend>
        <ul id="organization" class="unstyled">
          <%= render :partial => 'organization', :locals => {:search => @search} %>
        </ul>
      </fieldset>
    </div>
  </div>
</div>

