<div class="page-header">
  <h1>
    社員検索
    <small>chrome または firefox 推奨 <strong>internet explorer</strong>は動作未確認</small>
  </h1>
</div>
<div class="row">
  <div class="span8">
    <div id="employees" class="row">
      <ul class="nav nav-tabs">
        <li id="tab-normal" class="active">
          <%= link_to '通常表示', '#dsp-normal', "data-toggle" =>'tab' %>
        </li>
        <li id="tab-detail">
          <%= link_to '詳細表示', '#dsp-detail', "data-toggle" =>'tab' %>
        </li>
      </ul>
      <div class="tab-content">
        <div id="dsp-normal" class="tab-pane active">
          <% if @employees.length > 0 %>
            <%= render :partial => 'employee', :collection => @employees %>
          <% else %>
            <div class="alert alert-error">０件です。検索条件を変更してください。</div>
          <% end %>
        </div>
        <div id="dsp-detail" class="tab-pane">
          <% @employees.each do |row| %>
            <%= render :partial => 'detail', :locals=> {:employee => row} %>
            <hr />
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <fieldset>
        <legend>組織一覧</legend>
        <ul class="unstyled">
          <% for row in @search.facet(:unit).rows %>
            <li>
              <% if params[:unit].blank? %>
                <%= link_to row.value, :unit => row.value %> ( <%= row.count %> )
              <% else %>
                <strong><%= row.value %></strong> ( <%= link_to "remove", :unit => nil %> )
              <% end %>
            </li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  </div>
</div>

<%= paginate @employees %>
