      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1><span id="page_title" data-mercury="simple"><%= raw @page.title %></span></h1>
        <span id="page_description" data-mercury="full"><%= raw @page.description %></span>
        <p><%= link_to "社員検索へ »",employees_path, class: "btn btn-primary btn-large" %></p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>更新履歴</h2>
          <p><%= link_to "要望をメールする »", "mailto:daisuke.fuchiwaki@excel.co.jp", class: "btn" %></p>
          <span id="page_content1" data-mercury="full">
            <%= raw @page.content1 %>
          </span>
        </div>
        <div class="span8">
          <div class="well">
            <h2>自由編集用</h2>
            <p><%= link_to "編集してみる »", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_welcome_path(@page) }, class: "btn" %></p>
            <span id="page_content2" data-mercury="full">
              <%= raw @page.content2 %>
            </span>
          </div>
        </div>
      </div>
