<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        <%= @gallery.name %>
        <small><%= @gallery.description %></small>
      </h1>
    </div>
    <div class="accordion-group" style="margin-bottom: 5px">
      <button class="btn btn-primary" data-toggle="collapse" href="#collapseOne">
        <i class="icon-upload icon-white"></i>
        写真を追加する
      </button>
      <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
        <div class="accordion-inner">
          <%= simple_form_for(@photo ? @photo : Photo.new, :url => photos_path, :html => { :class => 'form-horizontal' }) do |f| %>
            <div class="form-inputs">
              <%= f.input :name, :label => "タイトル" %>
              <%= f.input :description, :label => "説明", :input_html => {:style => 'width: 490px'} %>
              <%= f.input :photo, :class => 'input-file', :label => '写真' %>
              <%= f.hidden_field :gallery_id, :value => @gallery.id %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "追加する", :class => 'btn btn-primary' %>
              <%= f.button :button, "やめる", :class => 'btn', :type => 'button', :id => 'upload_cancel' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="photos_list" class="thumbnails">
      <% @gallery.photos.each do |photo| %>
        <div class="span3" style="margin-bottom:15px">
          <div class="thumbnail">
            <%= image_tag photo.photo.photo_url(:thumb), id: :thumbnail %>
            <div class="caption">
              <h5><%= best_in_place photo, :name, :display_as => :dsp_name %></h5>
              <p><%= best_in_place photo, :description, :display_as => :dsp_description %></p>
              <p>
                <button class="btn btn-info btn-mini">
                  <i class="icon-thumbs-up icon-white"></i>
                  いいね
                </button>
                <span class="badge badge-info">8</span>
                <%= link_to photo, confirm: '本当に削除しますか？', method: :delete, :class => 'btn btn-danger btn-mini pull-right' do %>
                  <i class="icon-trash icon-white"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
